*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    scroll-behavior: smooth;
    font-family: /* "Roboto", sans-serif */ cursive;
    background-color: rgba(103, 0, 0, 0.496);
    background-blend-mode: lighten;
    color: black;
    overflow-x: hidden;
}

header{
    position: sticky;
    top: 0;
    z-index: 1000;
    border-radius: 1px solid rgb(77, 75, 75);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
    background-color: white;
}

header div{
    display: flex;
    justify-content: center;
    /* padding: 0.2rem 0rem; */
    gap: 40rem; 
}

.logo{
    /* padding-right: 25rem; */
}

.logo img{
    border-radius: 50%;
    width: 90px;
    object-fit: cover;
    transition: all 0.5s;
    padding: 10px;
}

.logo img:hover{
    background-color: inherit;
    scale: 2.5;
}

header div ul{
    display: flex;
    gap: 10rem;
    list-style-type: none;
}

.image-card {
  position: relative;
  width: 60px;
  height: 60px;
  /* IMPORTANT */
  overflow: visible;
}

.caption-glass {
  position: absolute;
  left: 50%;
  bottom: -10px;                 /* start slightly below image */
  transform: translate(-50%, 100%);
  padding: 8px 14px;
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
  color: brown;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 12px;
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.3s ease;
}

.image-card:hover .caption-glass{
    transform: translate(-50%, 0);
    opacity: 1;
}

/* header div ul li a{
    text-decoration: none;
    color: #670000e5;
    font-size: 2rem;
    font-weight: 700;
    align-items: center;
    display: flex;
    gap: 6px;
} */

header div ul li a img{
    width: 40px;
    height: 60px;
}

.section-one{
    background-image: url(../images/Rach_logo.jpg);
    object-fit: contain;
    text-align: center;
    padding-top: 5rem;
    position: relative;
    transition: all 0.5s;
}

.section-one h1{
    margin-bottom: 5rem;
}

.chef {
    display: flex;
    align-items: left;
    text-align: left;
    gap: 13rem;
}

.chef-text p{
    margin-left: 35px;
    font-size: 25px;
    line-height: 2;
    width: 650px;
    font: 18px;
    color: #000000;
    font-style: italic;
    margin-bottom: 5rem;
}

.chef img{
    height: 500px;
    width: 400px;
    border-radius: 20px;
    border: none;
}

.section-two{
    background-color: brown;
    color: rgb(250, 213, 4);
    padding-top: 5rem;
    padding-bottom: 3rem;
    text-align: center;
}

.swiper-slide h1 {
    margin-bottom: 2rem;
}

.swiper {
  width: 100rem;
  height: 45rem;
  object-fit: contain;
}

.swiper img {
    object-fit: fill;
    width: 55%;
}

.swiper-button-next, .swiper-button-prev{
    color: rgb(250, 213, 4) !important;
}

footer{
    background-color: #1A1A1A;
    color: #fff;
    padding-top: 5rem;
    text-align: center;
    padding-bottom: 2rem;
}

.end{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.endings h3{
    margin-bottom: 2rem;
    font-size: 2rem;
}

.endings p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: sans-serif;
    color: #9999;
    font-size: 20px;
}

.socials{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.socials-icon img {
    width: 45px;
    height: 45px;
    padding: 7px;
    border-radius: 50%;
    transition: all 0.5s;
}

.socials-icon img:hover{
    background-color: transparent;
    scale: 1.5;
}

.copyright {
    font-family: sans-serif;
    color: #9999;
    margin-top: 6rem;
    margin-bottom: 2rem;
}

.whatsapp-floating{
    position: fixed;
    /* width: 60px;
    height: 60px; */
    bottom: 40px;
    right: 40px;
    /* background-color: #25d366;
    color: white; */
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0 5px 15px rgba(37, 211, 102, 0.3);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

.whatsapp-floating img {
    width: 60px;
    height: 60px;
}


@media only screen and (max-width: 600px) {
    body {
        background-color: white;
    }

    header div{
        display: block;
        justify-content: center;
        gap: 1px; 
    }

    header div ul{
        display: none;
    }

    .section-one h1{
        margin-bottom: 2rem;
    }


    .chef{
        display: block;
        align-items: center;
        text-align: center;
        gap: 1px;
    }

    .chef-text p{
        font-size: 20px;
        line-height: 2;
        margin-left: 10px;
        width: 350px;
        font: 8px;
        color: #000000;
        font-style: normal;
        font-family: sans-serif;
        margin-bottom: 5rem;
    }

    .chef img{
        height: 350px;
        width: 250px;
        border-radius: 0px;
        border: none;
    }

    .section-two{
        background-color: brown;
        color: rgb(250, 213, 4);
        padding-top: 5rem;
        padding-bottom: 3rem;
        text-align: center;
    }

    .swiper {
        width: 0px;
        height: 0px;
        object-fit: contain;
    }

    .end{
        text-align: center;
        display: block;
        justify-content: space-evenly;
    }

    .endings h3{
        margin-bottom: 1rem;
        font-size: 2rem;
    }
}

/* @media only screen and (min-device-width: 768px){
    body {
        background-color: aqua;
    }

    header div{
        display: block;
        justify-content: center;
        gap: 1px; 
    }

    header div ul{
        display: none;
    }

    .swiper {
        width: 0px;
        height: 0px;
        object-fit: contain;
    }

    .chef{
        display: block;
        align-items: center;
        text-align: center;
        gap: 1px;
    }
} */